NEXTAUTH_URL='http://localhost:3000'
NEXTAUTH_SECRET='XXX'

# STARKNET
NEXT_PUBLIC_STARKNET_NETWORK='testnet'
NEXT_PUBLIC_STARKNET_CURRENCY_CODE='STRK'
STARKNET_RPC_URI='XXX'
STARKNET_MINTER_WALLET=''
STARKNET_MINTER_WALLET_SEED=''
STARKNET_SOURCE_TAG='77777777'

# XDC
NEXT_PUBLIC_XDC_NETWORK='testnet'
NEXT_PUBLIC_XDC_CURRENCY_CODE='XDC'
NEXT_PUBLIC_XDC_MINTER_ADDRESS='0x...'
NEXT_PUBLIC_XDC_MINTER_CONTRACT='0x...'
NEXT_PUBLIC_XDC_IMPACT_CONTRACT='0x...'
XDC_MINTER_WALLET='0x...'
XDC_MINTER_WALLET_SEED='0x...'

# COINMARKETCAP
TICKER_API_KEY='XXX'

MAILGUN_API_KEY='XXX'

CFCE_REGISTRY_API_URL='XXX'
CFCE_REGISTRY_API_KEY='XXX'

AWS_API_ENDPOINT='XXX'
AWS_ACCESS_KEY_ID='XXX'
AWS_SECRET_ACCESS_KEY='XXX'
AWS_DEFAULT_REGION='XXX'
AWS_NFT_BUCKET='XXX'
AWS_MEDIA_BUCKET='XXX'

IPFS_API_ENDPOINT='XXX'
IPFS_API_PINNING='XXX'
IPFS_API_KEY='XXX'
IPFS_API_SECRET='XXX'
IPFS_DEFAULT_REGION='XXX'
IPFS_DEFAULT_BUCKET='XXX'
IPFS_AVATARS_BUCKET='XXX'
IPFS_BUCKET_TOKEN='XXX'
IPFS_GATEWAY_URL='XXX'
